pytest
pytest-cov
black
flake8
pydot

requests
python-statemachine
cachetools
python-dotenv

pycryptodome==3.19.0

influxdb-client==1.34.0

pymodbus==2.5.3

traces
humanize

fastapi
uvicorn[standard]
apscheduler
freezegun==1.5.5
httpx==0.28.1
jinja2
python-multipart
